@import "../../node_modules/react-ui-components/lib/sass/dropdown-menu";
@import "../../node_modules/react-ui-components/lib/sass/menu";

body{
  margin: 0;
}
header{
  text-align: center;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 24px;
}
#main{
  text-align: center;
}

.d-menu-wrap{
  margin: 26px;
}
.color-menu-selected{
  position: relative;
}
.color-underline{
  position: absolute;
  bottom: -3px;
  left: -1px;
  display: inline-block;
  width: 16px;
  height: 3px;
}
.dropdown-menu-color {
  .menu-wrap{
    width: 114px;
    margin-top: 16px;
    margin-left: -16px;
  }
  .menu-item{
    float: left;
    width: 15px;
    height: 15px;
    padding: 2px;
  }
  .menu-item-selected{
    background: #fff;
  }
}
.color-menu-item{
  width: 100%;
  height: 100%;
}
.menu-item-selected-icon{
  padding-left: 8px;
  color: #888;
}
















